html {
    overflow-y: auto;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'SansBold';
    font-display: swap;
    src: url('../../assets/fonts/sans/Sans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'SansRegular';
    font-display: swap;
    src: url('../../assets/fonts/sans/Sans-Regular.ttf') format('truetype');
}



h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .title, label, .label {
    font-family: SansBold, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin-bottom: .5rem;
    font-weight: 900;
    line-height: 1.2;
    color: inherit;
}

.h1, h1 {
    font-size: 2.5rem
}

.h2, h2 {
    font-size: 2rem
}

.h3, h3 {
    font-size: 1.75rem
}

.h4, h4 {
    font-size: 1.5rem
}

.h5, h5 {
    font-size: 1.25rem
}

.h6, h6 {
    font-size: 1rem
}

body,
p,
button,
div,
span,
font,
option,
select,
.help,
.input,
.select,
.button,
.textarea {
    font-family: SansRegular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;;
    font-size: 15px;
}
